<td width="550" align="left" valign="top" bgcolor="#FFFFFF">
      <table width="100%" height="180" border="0" cellspacing="0" cellpadding="0" bgcolor="#F8EECC">
         <tbody><tr>
          <td><img src="/images/pic02_4.jpg" alt="" width="550" height="180" border="0"></td>
        </tr>
      </tbody></table>
      <br><br>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">

          <tbody>
            <% @portfolios.each do |p| %>
            <tr>
              <td width="50"><img src="/images/spacer.gif" width="50" height="40"></td>
              <td width="135" valign="top" nowrap=""><%= portfolio_duration(p) %></td>
              <td valign="top">&nbsp;</td>
              <td valign="top"><a href="<%= portfolio_path(p) %>"><%= p.name %></a><br>
                <%= p.building_type.typename %> </td>
              <td><img src="/images/spacer.gif" width="30" height="1"></td>
            </tr>
            <% end %>

        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td><span class="red">*</span> 表示项目仍在进行中</td>
          <td>&nbsp;</td>
        </tr>
      </tbody></table>
      <img src="/images/spacer.gif" width="30" height="1"><br>
    <br><br><br><br>    </td>